body {
    padding: 20px;
    background-color: #add8e6; /* Light blue background */
}

.book-item {
    margin-bottom: 10px;
}

.completed {
    background-color: #d4edda;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .container {
    background-color: #222;
    color: white;
}

.dark-mode button {
    background-color: white;
    color: black;
}

.dark-mode-toggle {
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
    font-size: 1.8rem;
    padding: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
}
